@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to Job Portal!</h1>
    <h2 class="display-5">Just browsing? Go to our Home page</h2>
    <h3 class="display-5">If you wish to apply or post a job, go ahead and register to have more options</h3>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
